@model IEnumerable<TeamDevProject.Models.Test>;

@{
    ViewData["Title"] = "Tests Available";
}



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Subject)</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-action="TakeTest" asp-route-id="@item.TestId" class="btn btn-primary">Take Test</a>
                </div>
            </div>
        </div>        
    }
</div>
